.button {
  padding: 8px 24px;

  border-radius: 0.5em;
  text-decoration: none;
  font-size: 18px;
  background-color: hsl(249, 24%, 44%);
  color: hsl(264, 71%, 99%);

  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
}

.button:hover {
  background-color: hsl(249, 24%, 36%);
}

.button:active {
  background-color: hsl(249, 24%, 30%);
}
