.product-card {
  --product-card-padding: 16px;

  display: grid;
  grid-template-rows:
    auto
    2.5em
    1fr
    auto;
  row-gap: 16px;
  height: 100%;
  padding-block-end: 16px;

  background-color: hsl(253, 82%, 98%);
  border: 1px solid hsl(249, 24%, 80%);
  border-radius: 0.5rem;
  overflow: hidden;

  color: hsl(212, 40%, 8%);
}

p {
  margin-block: initial;
}

.product-card__thumb {
  display: flex;
  place-content: center;
  width: 100%;
  max-height: 240px;
  aspect-ratio: 1/1;
  overflow: hidden;
  padding: 16px;

  background: #2a7b9b;
  background: linear-gradient(
    42deg,
    rgba(71, 67, 91, 1) 0%,
    rgba(176, 165, 229, 1) 100%
  );
}

.product-card__thumb > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-card__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-inline: var(--product-card-padding);

  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.product-card__desc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;

  padding-inline: var(--product-card-padding);
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-inline: var(--product-card-padding);
}

.product-card__price {
  display: grid;
  row-gap: 4px;
  justify-content: space-between;
  align-self: flex-end;
}

.product-card__price-label {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: hsl(214, 18%, 35%);
}

.product-card__price-value {
  font-weight: 700;
  font-size: 24px;
}
