*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.app {
  display: grid;
  column-gap: 24px;
  padding-block: 32px;
  padding-inline: 16px;

  background-color: hsl(250, 95%, 93%);

  @media (min-width: 768px) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.app__product-list {
  @media (min-width: 768px) {
    grid-column: span 8;
  }
}

.app__cart {
  @media (min-width: 768px) {
    grid-column: span 4;
  }
}
